.baiso1{ 
   display: flex;
   gap: 10px ;
}
.ducdz{
    width: 150px;
    height: 150px;
}
.ducdz:first-child{
    background-color: red ;
    border-radius: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    
}
.ducdz:nth-child(2){
    background-color: blue ;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    
}
.ducdz:last-child{
    background-color: red ;
    border-radius: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
}